{
  "openapi": "3.1.0",
  "info": {
    "title": "토스증권 Open API",
    "version": "1.2.14"
  },
  "servers": [
    {
      "url": "https://openapi.tossinvest.com"
    }
  ],
  "security": [
    {
      "oauth2ClientCredentials": []
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "토스증권 Open API의 모든 요청에 필요한 액세스 토큰을 발급하는 그룹입니다. OAuth 2.0 Client Credentials Grant 방식으로 `client_id`·`client_secret`을 토큰으로 교환하며, 발급된 토큰은 이후 모든 API의 `Authorization: Bearer` 헤더에 사용됩니다. 이 그룹의 엔드포인트만 `Authorization` 헤더 없이 호출하며, 응답은 BFF 공통 envelope이 아닌 OAuth 2.0 표준 형식을 따릅니다."
    },
    {
      "name": "Market Data",
      "description": "종목의 실시간성 시세 정보를 조회하는 그룹입니다. 매수/매도 호가, 현재가, 최근 체결 내역, 상·하한가, 캔들 차트(1분봉·일봉)를 제공합니다. 계좌 정보 없이 액세스 토큰만으로 호출할 수 있습니다. 호가·현재가·체결·상하한가는 `MARKET_DATA` Rate Limits Group 에 속하고, 캔들 차트는 호출 부하 특성이 달라 별도의 `MARKET_DATA_CHART` Rate Limits Group 으로 관리되므로, 두 그룹의 한도 응답 헤더를 각각 확인하는 것을 권장합니다.\n\n**이용 안내**  \n- 웹 소켓은 추후 지원 예정입니다"
    },
    {
      "name": "Stock Info",
      "description": "종목명·시장·통화·상장 상태·발행주식수 등 종목의 기본 참조 정보와 매수 유의사항, 그리고 국내(KR) 종목의 수급 동향(투자자별 매매동향·프로그램매매·공매도·신용거래·대차거래)을 제공하는 그룹입니다. 기본 참조 정보와 매수 유의사항은 영업일 단위(또는 그 이상)로 갱신되므로 짧은 주기로 폴링하지 말고 화면·세션 진입 시점에 한 번 캐시해 사용하기를 권장합니다. 수급 동향 시계열은 데이터별로 반영 시점이 다르므로(장중 잠정치 ~ T+1) 각 엔드포인트 설명의 데이터 적시성 안내를 참조하세요."
    },
    {
      "name": "Market Info",
      "description": "환율과 시장 운영 일정을 조회하는 그룹입니다. KRW↔USD 환율(1분 주기 갱신, 참고용 표시 환율)과 국내(KRX·NXT)·미국 시장의 장 운영 캘린더를 제공합니다. 장 캘린더는 영업일 여부와 데이마켓·프리·정규·애프터마켓 등 세션별 운영 시간을 포함하므로, 주문 가능 시간대 판단이나 휴장일 처리에 활용할 수 있습니다. 계좌와 무관한 정보로 토큰만으로 호출 가능합니다."
    },
    {
      "name": "Ranking",
      "description": "국내·미국 주식의 랭킹을 조회하는 그룹입니다. 시장 전체 거래대금·거래량 상위, 급상승·급하락(등락률), 토스증권 체결 기준 거래대금·거래량 상위 랭킹을 실시간부터 1년까지 거래일 기준 기간별로 제공합니다. 순위와 함께 현재가·기준가·등락률·거래량·거래대금을 응답하며, 계좌와 무관한 정보로 토큰만으로 호출할 수 있습니다."
    },
    {
      "name": "Market Indicators",
      "description": "국내 주요 지수(코스피·코스닥)와 한국 국채 금리 시세, KRX 투자자별 매매대금을 조회하는 그룹입니다. 투자자별 매매대금은\n코스피·코스닥을 대상으로 개인·외국인·기관·기타법인 분류(기관 세부 분류 포함)의 매수·매도 거래대금을\n제공합니다. 계좌와 무관한 정보로 토큰만으로 호출 가능합니다.\n\n이 그룹의 모든 엔드포인트는 아래 **심볼 카탈로그**의 8종 심볼만 지원하며, 카탈로그에 없는 심볼은 400 `unsupported-symbol` 로 응답합니다.\n개별 종목(예: `005930`, `AAPL`)의 시세는 본 그룹이 아닌 Market Data 그룹(`GET /api/v1/prices`, `/candles`)을 사용하세요.\n\n#### 심볼 카탈로그\n\n| 심볼 | 명칭 | 자산 유형 | 표시 단위 | 비고 |\n|------|------|----------|----------|------|\n| `KOSPI` | 코스피 | `INDEX` | 포인트 | 투자자별 매매대금 지원 |\n| `KOSDAQ` | 코스닥 | `INDEX` | 포인트 | 투자자별 매매대금 지원 |\n| `KR_BOND_2Y` | 한국 국채 2년 | `BOND` | % | 수익률(금리), 예: `3.25` = 3.25% |\n| `KR_BOND_3Y` | 한국 국채 3년 | `BOND` | % | |\n| `KR_BOND_5Y` | 한국 국채 5년 | `BOND` | % | |\n| `KR_BOND_10Y` | 한국 국채 10년 | `BOND` | % | |\n| `KR_BOND_20Y` | 한국 국채 20년 | `BOND` | % | |\n| `KR_BOND_30Y` | 한국 국채 30년 | `BOND` | % | |\n\n> 캔들 차트(`/candles`)의 분봉(`1m`)은 지수(`KOSPI`·`KOSDAQ`)만 지원합니다. 국채(`KR_BOND_*`)는 일봉(`1d`)만 지원하며, 분봉 요청 시 400 `invalid-request` 로 응답합니다."
    },
    {
      "name": "Account",
      "description": "사용자 본인의 계좌 목록을 조회하는 그룹입니다. 해지·휴면 등을 제외한 정상 상태의 계좌만 반환하며, 계좌가 없으면 빈 배열을 응답합니다. 응답에 포함된 `accountSeq`는 보유 주식·주문·매수 가능 금액 등 계좌정보가  필요한 모든 API의 `X-Tossinvest-Account` 헤더 값으로 사용되므로, 다른 계좌 관련 API를 호출하기 전 가장 먼저 호출하는 진입점에 해당합니다."
    },
    {
      "name": "Asset",
      "description": "본인 계좌의 보유 자산 현황을 조회하는 그룹입니다. 종목별 보유 수량·매입가·평가금액·손익과 함께 계좌 전체의 합산 요약을 제공합니다. 국내(KR)·미국(US) 주식이 대상이며 해외 옵션·채권 등은 제외됩니다. 손익률은 원화(KRW) 환산 기준으로 계산됩니다. 호출 시 액세스 토큰과 `X-Tossinvest-Account` 헤더가 함께 필요합니다."
    },
    {
      "name": "Order",
      "description": "실제 매매 주문을 처리하는 그룹입니다. 지정가·시장가 주문 생성, 미체결 주문의 가격·수량 정정, 주문 취소를 지원합니다. 계좌에 직접 영향을 주는 API이므로 액세스 토큰과 `X-Tossinvest-Account` 헤더가 모두 필요합니다."
    },
    {
      "name": "Conditional Order",
      "description": "특정 종목의 가격을 감시해 조건 충족 시 자동으로 매매(매수/매도) 주문을 생성하는 조건주문을 등록·수정·취소하는 그룹입니다. 단일(SINGLE), OCO(One-Cancels-the-Other, 하나의 조건 충족 시 나머지 조건 자동 취소), OTO(One-Triggers-the-Other, 첫번째 조건 체결 후 두번째 조건 감시 시작) 조건주문을 지원합니다. 계좌에 직접 영향을 주는 API이므로 액세스 토큰과 `X-Tossinvest-Account` 헤더가 모두 필요합니다."
    },
    {
      "name": "Conditional Order History",
      "description": "등록한 조건주문의 목록과 상세를 조회하는 그룹입니다. `status` 파라미터로 진행 중(`OPEN`)·종료(`CLOSED`)를 선택해 조회하며, 이 API 로 등록한 조건주문뿐 아니라 다른 채널(토스증권 앱 등)에서 등록한 조건주문도 함께 반환됩니다. 호출 시 `X-Tossinvest-Account` 헤더가 필요합니다."
    },
    {
      "name": "Order History",
      "description": "제출한 주문의 처리 상태와 체결 내역을 조회하는 그룹입니다. `status` 파라미터로 라이프사이클 그룹(현재 진행 중 주문 `OPEN`, 종료된 주문 `CLOSED`)을 선택해 주문 목록을 조회하고, 개별 `orderId`로 모든 상태의 주문 상세를 조회할 수 있습니다. 상세 조회는 부분 체결 내역 등 주문 단위 정보를 포함합니다. 호출 시 `X-Tossinvest-Account` 헤더가 필요합니다."
    },
    {
      "name": "Order Info",
      "description": "주문을 내기 전 확인하는 거래 가능 정보를 제공하는 그룹입니다. 미수거래를 제외한 현금 기반 매수 가능 금액, 종목별 매도 가능 수량, 시장별 매매 수수료를 조회할 수 있습니다. 주문 화면에서 입력 가능한 최대 수량·금액을 안내하거나 예상 비용을 계산하는 용도로 활용하며, 정확한 주문 검증을 위해 주문 생성 직전에 호출하는 것을 권장합니다. 호출 시 `X-Tossinvest-Account` 헤더가 필요합니다."
    }
  ],
  "paths": {
    "/oauth2/token": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "OAuth2 액세스 토큰 발급",
        "description": "OAuth 2.0 Client Credentials Grant 로 access token 을 발급합니다.\n\n- 요청 본문은 `application/x-www-form-urlencoded` 으로 전송합니다.\n- 발급된 token 은 다른 모든 API 의 `Authorization: Bearer {access_token}` 헤더에 사용합니다.\n- 응답 형식은 BFF 공통 envelope 이 아닌 OAuth2 표준 형식을 따릅니다.\n- refresh token 은 제공되지 않습니다. 만료 시 동일 엔드포인트로 재발급합니다.\n- client 당 유효한 access token 은 1 개입니다. 재발급 시 이전에 발급된 token 은 즉시 무효화됩니다.\n\n**Rate Limits Group**: `AUTH`\n",
        "operationId": "issueOAuth2Token",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/OAuth2TokenRequest"
              },
              "example": {
                "grant_type": "client_credentials",
                "client_id": "c_01HXYZABCDEFG123456789",
                "client_secret": "s_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "토큰 발급 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2TokenResponse"
                },
                "example": {
                  "access_token": "eyJraWQiOiIyMDI2LTA0LTAxLWtleSIsImFsZyI6IlJTMjU2In0.eyJzdWIiOiJjXzAxSFhZWiJ9...",
                  "token_type": "Bearer",
                  "expires_in": 86400
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청.\n필수 파라미터 누락, 지원하지 않는 grant_type 등.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2ErrorResponse"
                },
                "examples": {
                  "invalidRequest": {
                    "summary": "필수 파라미터 누락 / 형식 오류",
                    "value": {
                      "error": "invalid_request",
                      "error_description": "Required parameter is missing."
                    }
                  },
                  "unsupportedGrantType": {
                    "summary": "지원하지 않는 grant_type",
                    "value": {
                      "error": "unsupported_grant_type",
                      "error_description": "Only client_credentials grant type is supported."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "클라이언트 인증 실패.\n`client_id` / `client_secret` 가 잘못되었거나 클라이언트가 비활성 상태인 경우.\n",
            "headers": {
              "WWW-Authenticate": {
                "description": "Basic 인증 챌린지. 토큰 엔드포인트는 `Basic realm=\"openapi\"` 로 응답합니다.\n",
                "schema": {
                  "type": "string"
                },
                "example": "Basic realm=\"openapi\""
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2ErrorResponse"
                },
                "example": {
                  "error": "invalid_client",
                  "error_description": "Client authentication failed."
                }
              }
            }
          },
          "403": {
            "description": "허용되지 않은 IP 에서의 요청.\n클라이언트에 등록된 허용 IP 목록에 없는 IP 에서 호출한 경우 차단됩니다.\n토스증권 WTS 설정 > Open API > 허용 IP 관리 에서 호출을 허용할 IP 를 등록할 수 있습니다.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2ErrorResponse"
                },
                "example": {
                  "error": "access_denied",
                  "error_description": "IP address not allowed"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/api/v1/orderbook": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "호가 조회",
        "description": "매수/매도 호가 및 잔량을 조회합니다.\n\n**Rate Limits Group**: `MARKET_DATA`\n",
        "operationId": "getOrderbook",
        "security": [
          {
            "oauth2ClientCredentials": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SymbolQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/OrderbookResponse"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "krStock": {
                    "summary": "국내 주식 (삼성전자)",
                    "value": {
                      "result": {
                        "timestamp": "2026-03-25T09:30:00.123+09:00",
                        "currency": "KRW",
                        "asks": [
                          {
                            "price": "72300",
                            "volume": "1200"
                          },
                          {
                            "price": "72200",
                            "volume": "3400"
                          },
                          {
                            "price": "72100",
                            "volume": "8500"
                          }
                        ],
                        "bids": [
                          {
                            "price": "72000",
                            "volume": "5200"
                          },
                          {
                            "price": "71900",
                            "volume": "4100"
                          },
                          {
                            "price": "71800",
                            "volume": "2700"
                          }
                        ]
                      }
                    }
                  },
                  "usStock": {
                    "summary": "해외 주식 (Apple)",
                    "value": {
                      "result": {
                        "timestamp": "2026-03-25T22:30:00.456+09:00",
                        "currency": "USD",
                        "asks": [
                          {
                            "price": "185.75",
                            "volume": "250"
                          },
                          {
                            "price": "185.70",
                            "volume": "410"
                          }
                        ],
                        "bids": [
                          {
                            "price": "185.65",
                            "volume": "180"
                          },
                          {
                            "price": "185.60",
                            "volume": "320"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalErrorMarketData"
          }
        }
      }
    },
    "/api/v1/prices": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "현재가 조회",
        "description": "종목의 현재가 정보를 조회합니다. 최대 200건 까지 다건 조회를 지원하며 콤마(`,`)로 구분합니다.\n\n**Rate Limits Group**: `MARKET_DATA`\n",
        "operationId": "getPrices",
        "security": [
          {
            "oauth2ClientCredentials": []
          }
        ],
        "parameters": [
          {
            "name": "symbols",
            "in": "query",
            "required": true,
            "description": "종목 심볼. 최대 200 개를 콤마(`,`)로 구분. 예: `005930,000660` 또는 `AAPL,MSFT`. 영문 대/소문자, 숫자, '.', '-' 만 허용한다.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9.,\\-]+$"
            },
            "example": "005930,000660"
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PriceResponse"
                          }
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "krStock": {
                    "summary": "국내 주식 (삼성전자)",
                    "value": {
                      "result": [
                        {
                          "symbol": "005930",
                          "timestamp": "2026-03-25T09:30:00.123+09:00",
                          "lastPrice": "72000",
                          "currency": "KRW"
                        }
                      ]
                    }
                  },
                  "usStock": {
                    "summary": "해외 주식 (Apple)",
                    "value": {
                      "result": [
                        {
                          "symbol": "AAPL",
                          "timestamp": "2026-03-25T22:30:00.456+09:00",
                          "lastPrice": "185.70",
                          "currency": "USD"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalidBatchSize": {
                    "summary": "symbols 개수가 허용 범위(1~200) 를 벗어남",
                    "value": {
                      "error": {
                        "requestId": "01HXYZABCDEFG123456789",
                        "code": "invalid-request",
                        "message": "요청이 올바르지 않습니다.",
                        "data": {
                          "field": "symbols",
                          "constraint": {
                            "min": 1,
                            "max": 200
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalErrorMarketData"
          }
        }
      }
    },
    "/api/v1/trades": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "최근 체결 내역 조회",
        "description": "당일 최근 체결 내역을 조회합니다.\n\n**Rate Limits Group**: `MARKET_DATA`\n",
        "operationId": "getTrades",
        "security": [
          {
            "oauth2ClientCredentials": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SymbolQuery"
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "조회 건수 (최대 50)",
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Trade"
                          }
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "krStock": {
                    "summary": "국내 주식 (삼성전자)",
                    "value": {
                      "result": [
                        {
                          "price": "72000",
                          "volume": "120",
                          "timestamp": "2026-03-25T09:30:42.000+09:00",
                          "currency": "KRW"
                        },
                        {
                          "price": "71900",
                          "volume": "50",
                          "timestamp": "2026-03-25T09:30:41.500+09:00",
                          "currency": "KRW"
                        },
                        {
                          "price": "72000",
                          "volume": "200",
                          "timestamp": "2026-03-25T09:30:40.800+09:00",
                          "currency": "KRW"
                        }
                      ]
                    }
                  },
                  "usStock": {
                    "summary": "해외 주식 (Apple)",
                    "value": {
                      "result": [
                        {
                          "price": "185.70",
                          "volume": "15",
                          "timestamp": "2026-03-25T22:30:42.100+09:00",
                          "currency": "USD"
                        },
                        {
                          "price": "185.75",
                          "volume": "8",
                          "timestamp": "2026-03-25T22:30:41.700+09:00",
                          "currency": "USD"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalErrorMarketData"
          }
        }
      }
    },
    "/api/v1/price-limits": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "상/하한가 조회",
        "description": "종목의 당일 상한가 및 하한가를 조회합니다.\n\n**Rate Limits Group**: `MARKET_DATA`\n",
        "operationId": "getPriceLimit",
        "security": [
          {
            "oauth2ClientCredentials": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SymbolQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/PriceLimitResponse"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "krStock": {
                    "summary": "국내 주식 (삼성전자)",
                    "value": {
                      "result": {
                        "timestamp": "2026-03-25T09:30:00.123+09:00",
                        "upperLimitPrice": "93000",
                        "lowerLimitPrice": "50400",
                        "currency": "KRW"
                      }
                    }
                  },
                  "usStock": {
                    "summary": "해외 주식 (Apple, 가격제한 없음)",
                    "value": {
                      "result": {
                        "timestamp": "2026-03-25T22:30:00.456+09:00",
                        "upperLimitPrice": null,
                        "lowerLimitPrice": null,
                        "currency": "USD"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalErrorMarketData"
          }
        }
      }
    },
    "/api/v1/candles": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "캔들 차트 조회",
        "description": "종목의 캔들(OHLCV) 차트 데이터를 조회합니다. 최대 200개 봉을 반환합니다.\n\n**Rate Limits Group**: `MARKET_DATA_CHART`\n",
        "operationId": "getCandles",
        "security": [
          {
            "oauth2ClientCredentials": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SymbolQuery"
          },
          {
            "name": "interval",
            "in": "query",
            "required": true,
            "description": "봉 단위",
            "schema": {
              "type": "string",
              "enum": [
                "1m",
                "1d"
              ]
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "조회 봉 수 (최대 200)",
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "페이지네이션 상한 (inclusive, ISO 8601). 이 시각과 같거나 이전인 봉만 반환합니다. 미지정 시 가장 최신 봉부터 반환.\n다음 페이지 요청 시 이전 응답의 `nextBefore` 값을 그대로 전달합니다.\n타임존 오프셋의 `+` 는 쿼리스트링에서 `%2B` 로 URL 인코딩해야 합니다 (예: `before=2026-03-25T09:00:00%2B09:00`).\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-03-25T09:00:00+09:00"
          },
          {
            "name": "adjusted",
            "in": "query",
            "required": false,
            "description": "수정주가 적용 여부. `true` 면 수정주가 적용, `false` 면 미적용.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/CandlePageResponse"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "dailyCandles": {
                    "summary": "일봉 (1d)",
                    "value": {
                      "result": {
                        "candles": [
                          {
                            "timestamp": "2026-03-25T09:00:00+09:00",
                            "openPrice": "71600",
                            "highPrice": "72300",
                            "lowPrice": "71500",
                            "closePrice": "72000",
                            "volume": "3521000",
                            "currency": "KRW"
                          },
                          {
                            "timestamp": "2026-03-24T09:00:00+09:00",
                            "openPrice": "71200",
                            "highPrice": "71800",
                            "lowPrice": "71000",
                            "closePrice": "71600",
                            "volume": "2984000",
                            "currency": "KRW"
                          }
                        ],
                        "nextBefore": "2026-03-24T09:00:00+09:00"
                      }
                    }
                  },
                  "minuteCandles": {
                    "summary": "분봉 (1m)",
                    "value": {
                      "result": {
                        "candles": [
                          {
                            "timestamp": "2026-03-25T09:32:00+09:00",
                            "openPrice": "72000",
                            "highPrice": "72100",
                            "lowPrice": "71950",
                            "closePrice": "72050",
                            "volume": "15200",
                            "currency": "KRW"
                          },
                          {
                            "timestamp": "2026-03-25T09:31:00+09:00",
                            "openPrice": "71950",
                            "highPrice": "72050",
                            "lowPrice": "71900",
                            "closePrice": "72000",
                            "volume": "18400",
                            "currency": "KRW"
                          }
                        ],
                        "nextBefore": "2026-03-25T09:31:00+09:00"
                      }
                    }
                  },
                  "lastPage": {
                    "summary": "마지막 페이지 (nextBefore null)",
                    "value": {
                      "result": {
                        "candles": [
                          {
                            "timestamp": "2026-03-20T09:00:00+09:00",
                            "openPrice": "70800",
                            "highPrice": "71200",
                            "lowPrice": "70500",
                            "closePrice": "71000",
                            "volume": "2112000",
                            "currency": "KRW"
                          }
                        ],
                        "nextBefore": null
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unsupportedCandleInterval": {
                    "summary": "지원하지 않는 캔들 주기",
                    "value": {
                      "error": {
                        "requestId": "01HXYZABCDEFG123456789",
                        "code": "invalid-request",
                        "message": "지원하지 않는 캔들 주기입니다.",
                        "data": {
                          "field": "interval",
                          "allowedValues": [
                            "1m",
                            "1d"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalErrorMarketData"
          }
        }
      }
    },
    "/api/v1/stocks": {
      "get": {
        "tags": [
          "Stock Info"
        ],
        "summary": "종목 기본 정보 조회",
        "description": "종목의 기본 정보를 조회합니다. `symbols` 를 콤마로 구분하여 최대 200건 까지 다건 조회를 지원합니다.\n종목명, 시장, 통화, 상장 상태, 거래정지 여부 등 트레이딩에서 필요한 참조 데이터를 제공합니다.\n\n**관련 API**: 마켓 전체 종목 목록(유니버스)이 필요하면 [`GET /api/v1/stocks/all`](#operation/listStocks) 을 사용하세요.\n\n**Rate Limits Group**: `STOCK`\n",
        "operationId": "getStocks",
        "security": [
          {
            "oauth2ClientCredentials": []
          }
        ],
        "parameters": [
          {
            "name": "symbols",
            "in": "query",
            "required": true,
            "description": "종목 심볼. 콤마로 구분하여 최대 200건. 예: 005930 또는 005930,AAPL. 영문 대/소문자, 숫자, '.', '-' 만 허용한다.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9.,\\-]+$"
            },
            "example": "005930,AAPL"
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/StockInfo"
                          }
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "multiple": {
                    "summary": "다건 조회 (국내 + 미국)",
                    "value": {
                      "result": [
                        {
                          "symbol": "005930",
                          "name": "삼성전자",
                          "englishName": "SamsungElec",
                          "isinCode": "KR7005930003",
                          "market": "KOSPI",
                          "securityType": "STOCK",
                          "isCommonShare": true,
                          "status": "ACTIVE",
                          "currency": "KRW",
                          "listDate": "1975-06-11",
                          "delistDate": null,
                          "sharesOutstanding": "5919637922",
                          "leverageFactor": null,
                          "koreanMarketDetail": {
                            "liquidationTrading": false,
                            "nxtSupported": true,
                            "krxTradingSuspended": false,
                            "nxtTradingSuspended": false
                          }
                        },
                        {
                          "symbol": "AAPL",
                          "name": "애플",
                          "englishName": "APPLE INC",
                          "isinCode": "US0378331005",
                          "market": "NASDAQ",
                          "securityType": "STOCK",
                          "isCommonShare": true,
                          "status": "ACTIVE",
                          "currency": "USD",
                          "listDate": "1980-12-12",
                          "delistDate": null,
                          "sharesOutstanding": "14702703000",
                          "leverageFactor": null,
                          "koreanMarketDetail": null
                        }
                      ]
                    }
                  },
                  "krxStock": {
                    "summary": "국내 주식 (삼성전자)",
                    "value": {
                      "result": [
                        {
                          "symbol": "005930",
                          "name": "삼성전자",
                          "englishName": "SamsungElec",
                          "isinCode": "KR7005930003",
                          "market": "KOSPI",
                          "securityType": "STOCK",
                          "isCommonShare": true,
                          "status": "ACTIVE",
                          "currency": "KRW",
                          "listDate": "1975-06-11",
                          "delistDate": null,
                          "sharesOutstanding": "5919637922",
                          "leverageFactor": null,
                          "koreanMarketDetail": {
                            "liquidationTrading": false,
                            "nxtSupported": true,
                            "krxTradingSuspended": false,
                            "nxtTradingSuspended": false
                          }
                        }
                      ]
                    }
                  },
                  "usStock": {
                    "summary": "미국 주식 (Apple)",
                    "value": {
                      "result": [
                        {
                          "symbol": "AAPL",
                          "name": "애플",
                          "englishName": "APPLE INC",
                          "isinCode": "US0378331005",
                          "market": "NASDAQ",
                          "securityType": "STOCK",
                          "isCommonShare": true,
                          "status": "ACTIVE",
                          "currency": "USD",
                          "listDate": "1980-12-12",
                          "delistDate": null,
                          "sharesOutstanding": "14702703000",
                          "leverageFactor": null,
                          "koreanMarketDetail": null
                        }
                      ]
                    }
                  },
                  "etf": {
                    "summary": "ETF (KODEX 200)",
                    "value": {
                      "result": [
                        {
                          "symbol": "069500",
                          "name": "KODEX 200",
                          "isinCode": "KR7069500007",
                          "market": "KOSPI",
                          "securityType": "ETF",
                          "isCommonShare": true,
                          "status": "ACTIVE",
                          "currency": "KRW",
                          "listDate": "2002-10-14",
                          "delistDate": null,
                          "sharesOutstanding": "208050000",
                          "leverageFactor": "1",
                          "koreanMarketDetail": {
                            "liquidationTrading": false,
                            "nxtSupported": false,
                            "krxTradingSuspended": false,
                            "nxtTradingSuspended": null
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "tooManySymbols": {
                    "summary": "허용 개수 초과 (1~200건)",
                    "value": {
                      "error": {
                        "requestId": "01HXYZABCDEFG123456789",
                        "code": "invalid-request",
                        "message": "요청이 올바르지 않습니다.",
                        "data": {
                          "field": "symbols",
                          "constraint": {
                            "min": 1,
                            "max": 200
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalErrorStock"
          }
        }
      }
    },
    "/api/v1/stocks/all": {
      "get": {
        "tags": [
          "Stock Info"
        ],
        "summary": "마켓별 전체 종목 조회",
        "description": "마켓(거래소)별 종목 리스트를 조회합니다. 종목 유니버스 구성 용도이며, 토스증권에서 거래 가능한 종목만 제공합니다.\n`status`·`securityType`·`commonShare` 로 유니버스를 필터링할 수 있습니다.\n\n**정렬**: `symbol` 오름차순. 필터 조건에 해당하는 종목을 페이지네이션 없이 한 번에 반환합니다.\n\n**응답 규모**: 마켓당 최대 수천 건(예: NASDAQ 약 2,800건, gzip 응답 약 30KB). 일 배치로 갱신되는 저변동 데이터이므로 하루 1회 조회 후 로컬 캐싱을 권장합니다.\n\n**관련 API**: 여기서 얻은 `symbol` 로 [`GET /api/v1/stocks`](#operation/getStocks)(다건 상세 조회)를 호출해 종목명·통화·상장상태 등 상세 정보를 채울 수 있습니다.\n\n**Rate Limits Group**: `STOCK_ALL`\n",
        "operationId": "listStocks",
        "security": [
          {
            "oauth2ClientCredentials": []
          }
        ],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": true,
            "description": "조회할 마켓(거래소)",
            "schema": {
              "type": "string",
              "enum": [
                "KOSPI",
                "KOSDAQ",
                "NYSE",
                "NASDAQ",
                "AMEX",
                "KR_ETC",
                "US_ETC"
              ]
            },
            "example": "KOSPI"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "종목 상태 필터 (미지정 시 ACTIVE)",
            "schema": {
              "type": "string",
              "enum": [
                "SCHEDULED",
                "ACTIVE",
                "DELISTED"
              ],
              "default": "ACTIVE"
            },
            "example": "ACTIVE"
          },
          {
            "name": "securityType",
            "in": "query",
            "required": false,
            "description": "종목 유형 필터 (미지정 시 전체 유형)",
            "schema": {
              "type": "string",
              "enum": [
                "STOCK",
                "FOREIGN_STOCK",
                "DEPOSITARY_RECEIPT",
                "INFRASTRUCTURE_FUND",
                "REIT",
                "ETF",
                "FOREIGN_ETF",
                "ETN",
                "STOCK_WARRANTS"
              ]
            },
            "example": "STOCK"
          },
          {
            "name": "commonShare",
            "in": "query",
            "required": false,
            "description": "보통주 여부 필터 (true=보통주만, false=우선주만, 미지정 시 전체)",
            "schema": {
              "type": "boolean"
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ListedStock"
                          }
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "kospi": {
                    "summary": "KOSPI 종목 (일부 발췌)",
                    "value": {
                      "result": [
                        {
                          "symbol": "005930",
                          "name": "삼성전자",
                          "securityType": "STOCK",
                          "isCommonShare": true,
                          "isinCode": "KR7005930003"
                        },
                        {
                          "symbol": "069500",
                          "name": "KODEX 200",
                          "securityType": "ETF",
                          "isCommonShare": true,
                          "isinCode": "KR7069500007"
                        }
                      ]
                    }
                  },
                  "nasdaq": {
                    "summary": "NASDAQ 종목 (미국 종목도 한글 name 제공)",
                    "value": {
                      "result": [
                        {
                          "symbol": "AAPL",
                          "name": "애플",
                          "securityType": "STOCK",
                          "isCommonShare": true,
                          "isinCode": "US0378331005"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalidMarket": {
                    "summary": "허용되지 않은 market",
                    "value": {
                      "error": {
                        "requestId": "01HXYZABCDEFG123456789",
                        "code": "invalid-request",
                        "message": "유효하지 않은 market 입니다. KOSPI, KOSDAQ, NYSE, NASDAQ, AMEX, KR_ETC, US_ETC 만 허용됩니다.",
                        "data": {
                          "field": "market",
                          "allowedValues": [
                            "KOSPI",
                            "KOSDAQ",
                            "NYSE",
                            "NASDAQ",
                            "AMEX",
                            "KR_ETC",
                            "US_ETC"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalErrorStock"
          }
        }
      }
    },
    "/api/v1/stocks/{symbol}/warnings": {
      "get": {
        "tags": [
          "Stock Info"
        ],
        "summary": "매수 유의사항 조회",
        "description": "종목의 매수 유의사항 및 변동성 완화(VI) 발동 정보를 조회합니다.\n\n**포함 종류**: 정리매매(`LIQUIDATION_TRADING`), 단기과열종목(`OVERHEATED`), 투자경고(`INVESTMENT_WARNING`), 투자위험(`INVESTMENT_RISK`), VI 정적/동적/혼합(`VI_STATIC` / `VI_DYNAMIC` / `VI_STATIC_AND_DYNAMIC`), 신주인수권(`STOCK_WARRANTS`). 전체 enum 은 `StockWarning.warningType` 참조.\n\n**\"활성\"의 시간 기준**: 응답 시점 기준으로 `startDate <= 오늘 <= endDate` 인 항목 (또는 `endDate` 가 `null` 인 진행 중 항목).\n\n**응답 정렬**: `startDate` 내림차순 (최근 발동된 항목부터). `startDate` 가 동일한 경우 정렬 순서는 보장되지 않습니다.\n\n**데이터 적시성**: VI 발동/해제는 거래소 이벤트 발생 후 수 초 내 반영됩니다. 정리매매·단기과열·투자경고/위험 지정은 거래소 공시 기준 일배치로 반영됩니다.\n\n**미존재 vs 빈 배열**:\n- 종목 자체가 없으면 `404 stock-not-found`.\n- 종목은 있으나 활성 유의사항이 없으면 `200 OK` + `result: []`.\n\n**Rate Limits Group**: `STOCK`\n",
        "operationId": "getStockWarnings",
        "security": [
          {
            "oauth2ClientCredentials": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Symbol"
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/StockWarning"
                          }
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "withWarnings": {
                    "summary": "유의사항이 있는 종목",
                    "value": {
                      "result": [
                        {
                          "warningType": "OVERHEATED",
                          "exchange": "KRX",
                          "startDate": "2026-03-20",
                          "endDate": "2026-03-27"
                        },
                        {
                          "warningType": "VI_STATIC",
                          "exchange": "KRX",
                          "startDate": "2026-03-26",
                          "endDate": null
                        }
                      ]
                    }
                  },
                  "noWarnings": {
                    "summary": "유의사항이 없는 종목",
                    "value": {
                      "result": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalErrorStock"
          }
        }
      }
    },
    "/api/v1/stocks/{symbol}/investor-trading": {
      "get": {
        "tags": [
          "Stock Info"
        ],
        "summary": "투자자별 매매동향 조회",
        "description": "국내(KR) 종목의 투자자별 매매동향을 일별 거래량 시계열로 조회합니다. 개인·외국인·기관·기타법인\n4개 투자자 분류의 매수·매도·순매수 거래량을 최신순으로 제공하며, 기관은 7개 세부 분류(`breakdown`)를\n함께 제공합니다. 외국인 보유 현황(`foreignerHolding`)과 CFD 잔고(`cfd`)도 일자별로 포함합니다.\n\n- 국내(KR) 종목만 지원합니다. 다른 시장의 종목은 400 `unsupported-market` 으로 응답합니다.\n- 거래량은 KRX·NXT 통합 기준이며, 모든 수량은 주식 수(주) 정수입니다. 순매수(`netBuyVolume`)는\n  매수 − 매도로 계산되며 음수면 순매도입니다. 거래대금(금액) 축은 제공하지 않습니다.\n- `foreigner` 는 등록외국인 기준입니다. 시장 지표의 투자자별 매매대금\n  (`GET /api/v1/market-indicators/{symbol}/investor-trading`, 등록·미등록 합계)과 기준이 다릅니다.\n- 당일 기록은 장중 잠정치로 제공합니다. 잠정치가 제공되지 않는 `individual`(개인)·\n  `institution.breakdown`(기관 세부)·`otherCorporation`(기타법인)·`foreignerHolding`(외국인 보유)·\n  `cfd`(CFD 잔고)는 null 이며, `updatedAt` 으로 마지막 갱신 시각을 확인할 수 있습니다.\n- 다음 페이지는 응답의 `nextUntil` 값을 `until` 파라미터로 전달해 조회합니다.\n\n**데이터 적시성**: 하나의 일자 기록은 시간에 걸쳐 완성됩니다. 투자자별 매매동향 확정치와\n외국인 보유(`foreignerHolding`)는 해당 일자 저녁에 반영됩니다. CFD 잔고(`cfd`)는 다음 영업일 새벽(T+1)에\n반영되며, 외국인 보유는 다음 영업일 오전에 확정치로 한 번 더 갱신될 수 있습니다.\n`updatedAt` 은 이 모든 반영을 포함한 기록 전체의 마지막 갱신 시각입니다.\n\n**Rate Limits Group**: `STOCK_TRADING_TREND`\n",
        "operationId": "getStockInvestorTrading",
        "security": [
          {
            "oauth2ClientCredentials": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/KrSymbol"
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "조회 수 (최대 100)",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "description": "조회 기준일 (inclusive, `YYYY-MM-DD`). 이 날짜까지의 데이터를 최신순으로 `count` 개 반환합니다.\n미지정 시 가장 최신 데이터부터 반환. 다음 페이지 요청 시 이전 응답의 `nextUntil` 값을 그대로 전달합니다.\n",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-07-16"
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/StockInvestorTradingResponse"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "daily": {
                    "summary": "당일 잠정 기록 + 확정 기록 (count=2)",
                    "value": {
                      "result": {
                        "nextUntil": "2026-07-15",
                        "records": [
                          {
                            "date": "2026-07-17",
                            "updatedAt": "2026-07-17T14:35:08+09:00",
                            "individual": null,
                            "foreigner": {
                              "buyVolume": "2105300",
                              "sellVolume": "1985400",
                              "netBuyVolume": "119900"
                            },
                            "institution": {
                              "buyVolume": "910200",
                              "sellVolume": "1023400",
                              "netBuyVolume": "-113200",
                              "breakdown": null
                            },
                            "otherCorporation": null,
                            "foreignerHolding": null,
                            "cfd": null
                          },
                          {
                            "date": "2026-07-16",
                            "updatedAt": "2026-07-17T09:12:43+09:00",
                            "individual": {
                              "buyVolume": "8412300",
                              "sellVolume": "8120450",
                              "netBuyVolume": "291850"
                            },
                            "foreigner": {
                              "buyVolume": "4210500",
                              "sellVolume": "4530200",
                              "netBuyVolume": "-319700"
                            },
                            "institution": {
                              "buyVolume": "1953200",
                              "sellVolume": "1915300",
                              "netBuyVolume": "37900",
                              "breakdown": {
                                "financialInvestment": {
                                  "buyVolume": "1203400",
                                  "sellVolume": "1150200",
                                  "netBuyVolume": "53200"
                                },
                                "insurance": {
                                  "buyVolume": "45000",
                                  "sellVolume": "52300",
                                  "netBuyVolume": "-7300"
                                },
                                "trust": {
                                  "buyVolume": "120500",
                                  "sellVolume": "98700",
                                  "netBuyVolume": "21800"
                                },
                                "privateEquityFund": {
                                  "buyVolume": "210300",
                                  "sellVolume": "187600",
                                  "netBuyVolume": "22700"
                                },
                                "bank": {
                                  "buyVolume": "15200",
                                  "sellVolume": "12400",
                                  "netBuyVolume": "2800"
                                },
                                "otherFinancialInstitution": {
                                  "buyVolume": "8700",
                                  "sellVolume": "11300",
                                  "netBuyVolume": "-2600"
                                },
                                "pensionFund": {
                                  "buyVolume": "350100",
                                  "sellVolume": "402800",
                                  "netBuyVolume": "-52700"
                                }
                              }
                            },
                            "otherCorporation": {
                              "buyVolume": "98200",
                              "sellVolume": "112400",
                              "netBuyVolume": "-14200"
                            },
                            "foreignerHolding": {
                              "holdingQuantity": "3012456789",
                              "limitQuantity": "5919637922",
                              "holdingRate": "0.5089"
                            },
                            "cfd": {
                              "buyBalanceQuantity": "1250000",
                              "buyBalanceRate": "0.0002",
                              "sellBalanceQuantity": "890000",
                              "sellBalanceRate": "0.0001"
                            }
                          }
                        ]
                      }
                    }
                  },
                  "noData": {
                    "summary": "조회 범위에 데이터 없음 (records 빈 배열, nextUntil null)",
                    "value": {
                      "result": {
                        "nextUntil": null,
                        "records": []
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unsupportedMarket": {
                    "summary": "국내(KR) 종목이 아님",
                    "value": {
                      "error": {
                        "requestId": "01HXYZABCDEFG123456789",
                        "code": "unsupported-market",
                        "message": "지원하지 않는 시장의 종목입니다.",
                        "data": {
                          "field": "symbol",
                          "allowedConditions": {
                            "marketCountry": [
                              "KR"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "invalidCount": {
                    "summary": "count 가 허용 범위(1~100)를 벗어남",
                    "value": {
                      "error": {
                        "requestId": "01HXYZABCDEFG123456789",
                        "code": "invalid-request",
                        "message": "요청이 올바르지 않습니다.",
                        "data": {
                          "field": "count",
                          "constraint": {
                            "min": 1,
                            "max": 100
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalErrorTradingTrend"
          }
        }
      }
    },
    "/api/v1/stocks/{symbol}/program-trades": {
      "get": {
        "tags": [
          "Stock Info"
        ],
        "summary": "프로그램매매 동향 조회",
        "description": "국내(KR) 종목의 프로그램매매 동향을 일별 거래량 시계열로 조회합니다. 차익거래(`arbitrage`)·\n비차익거래(`nonArbitrage`) 각각의 매수·매도·순매수 거래량을 최신순으로 제공합니다.\n\n- 국내(KR) 종목만 지원합니다. 다른 시장의 종목은 400 `unsupported-market` 으로 응답합니다.\n- KRX 시장 거래만 집계하며 NXT 거래는 포함하지 않습니다. 모든 수량은 주식 수(주) 정수입니다.\n  순매수(`netBuyVolume`)는 매수 − 매도로 계산되며 음수면 순매도입니다. 거래대금(금액) 축은 제공하지 않습니다.\n- 다음 페이지는 응답의 `nextUntil` 값을 `until` 파라미터로 전달해 조회합니다.\n\n**데이터 적시성**: 당일 기록도 제공되며, 장 종료 전까지 갱신될 수 있습니다.\n\n**Rate Limits Group**: `STOCK_TRADING_TREND`\n",
        "operationId": "getStockProgramTrades",
        "security": [
          {
            "oauth2ClientCredentials": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/KrSymbol"
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "조회 수 (최대 100)",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "description": "조회 기준일 (inclusive, `YYYY-MM-DD`). 이 날짜까지의 데이터를 최신순으로 `count` 개 반환합니다.\n미지정 시 가장 최신 데이터부터 반환. 다음 페이지 요청 시 이전 응답의 `nextUntil` 값을 그대로 전달합니다.\n",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-07-16"
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/ProgramTradesResponse"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "daily": {
                    "summary": "일별 프로그램매매 (count=2)",
                    "value": {
                      "result": {
                        "nextUntil": "2026-07-15",
                        "records": [
                          {
                            "date": "2026-07-17",
                            "arbitrage": {
                              "buyVolume": "152300",
                              "sellVolume": "183400",
                              "netBuyVolume": "-31100"
                            },
                            "nonArbitrage": {
                              "buyVolume": "1210500",
                              "sellVolume": "1105200",
                              "netBuyVolume": "105300"
                            }
                          },
                          {
                            "date": "2026-07-16",
                            "arbitrage": {
                              "buyVolume": "98700",
                              "sellVolume": "120400",
                              "netBuyVolume": "-21700"
                            },
                            "nonArbitrage": {
                              "buyVolume": "1350200",
                              "sellVolume": "1298400",
                              "netBuyVolume": "51800"
                            }
                          }
                        ]
                      }
                    }
                  },
                  "noData": {
                    "summary": "조회 범위에 데이터 없음 (records 빈 배열, nextUntil null)",
                    "value": {
                      "result": {
                        "nextUntil": null,
                        "records": []
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unsupportedMarket": {
                    "summary": "국내(KR) 종목이 아님",
                    "value": {
                      "error": {
                        "requestId": "01HXYZABCDEFG123456789",
                        "code": "unsupported-market",
                        "message": "지원하지 않는 시장의 종목입니다.",
                        "data": {
                          "field": "symbol",
                          "allowedConditions": {
                            "marketCountry": [
                              "KR"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "invalidCount": {
                    "summary": "count 가 허용 범위(1~100)를 벗어남",
                    "value": {
                      "error": {
                        "requestId": "01HXYZABCDEFG123456789",
                        "code": "invalid-request",
                        "message": "요청이 올바르지 않습니다.",
                        "data": {
                          "field": "count",
                          "constraint": {
                            "min": 1,
                            "max": 100
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalErrorTradingTrend"
          }
        }
      }
    },
    "/api/v1/stocks/{symbol}/short-selling": {
      "get": {
        "tags": [
          "Stock Info"
        ],
        "summary": "공매도 동향 조회",
        "description": "국내(KR) 종목의 공매도 동향을 일별 시계열로 조회합니다. 공매도 거래량·거래대금과 함께\n해당 일자 전체 거래량·거래대금 대비 공매도 비중을 최신순으로 제공합니다.\n\n- 국내(KR) 종목만 지원합니다. 다른 시장의 종목은 400 `unsupported-market` 으로 응답합니다.\n- 모든 금액은 원화(KRW)이며, 별도의 통화 필드는 제공하지 않습니다.\n- 비중(`shortSellingVolumeRate`·`shortSellingAmountRate`)의 분모는 정규장 외 세션\n  (장전·장후·시간외단일가)을 포함한 해당 일자 누적 거래량·거래대금입니다.\n  분모 데이터가 없는 날짜는 비중이 null, 분모가 0 이면 `0` 입니다.\n- 다음 페이지는 응답의 `nextUntil` 값을 `until` 파라미터로 전달해 조회합니다.\n\n**데이터 적시성**: 일별 확정치는 해당 일자 저녁에 반영됩니다.\n\n**Rate Limits Group**: `STOCK_TRADING_TREND`\n",
        "operationId": "getStockShortSelling",
        "security": [
          {
            "oauth2ClientCredentials": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/KrSymbol"
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "조회 수 (최대 100)",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "description": "조회 기준일 (inclusive, `YYYY-MM-DD`). 이 날짜까지의 데이터를 최신순으로 `count` 개 반환합니다.\n미지정 시 가장 최신 데이터부터 반환. 다음 페이지 요청 시 이전 응답의 `nextUntil` 값을 그대로 전달합니다.\n",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-07-16"
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/ShortSellingResponse"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "daily": {
                    "summary": "일별 공매도 (count=2)",
                    "value": {
                      "result": {
                        "nextUntil": "2026-07-14",
                        "records": [
                          {
                            "date": "2026-07-16",
                            "updatedAt": "2026-07-16T17:25:43+09:00",
                            "shortSellingVolume": "512300",
                            "shortSellingAmount": "41250000000",
                            "shortSellingVolumeRate": "0.03215",
                            "shortSellingAmountRate": "0.0318"
                          },
                          {
                            "date": "2026-07-15",
                            "updatedAt": "2026-07-15T17:26:02+09:00",
                            "shortSellingVolume": "423100",
                            "shortSellingAmount": "33980000000",
                            "shortSellingVolumeRate": "0.02871",
                            "shortSellingAmountRate": "0.0281"
                          }
                        ]
                      }
                    }
                  },
                  "rateUnavailable": {
                    "summary": "분모(전체 거래량·거래대금) 데이터가 없어 비중이 null 인 날짜",
                    "value": {
                      "result": {
                        "nextUntil": null,
                        "records": [
                          {
                            "date": "2026-07-15",
                            "updatedAt": "2026-07-15T17:26:02+09:00",
                            "shortSellingVolume": "423100",
                            "shortSellingAmount": "33980000000",
                            "shortSellingVolumeRate": null,
                            "shortSellingAmountRate": null
                          }
                        ]
                      }
                    }
                  },
                  "noData": {
                    "summary": "조회 범위에 데이터 없음 (records 빈 배열, nextUntil null)",
                    "value": {
                      "result": {
                        "nextUntil": null,
                        "records": []
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unsupportedMarket": {
                    "summary": "국내(KR) 종목이 아님",
                    "value": {
                      "error": {
                        "requestId": "01HXYZABCDEFG123456789",
                        "code": "unsupported-market",
                        "message": "지원하지 않는 시장의 종목입니다.",
                        "data": {
                          "field": "symbol",
                          "allowedConditions": {
                            "marketCountry": [
                              "KR"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "invalidCount": {
                    "summary": "count 가 허용 범위(1~100)를 벗어남",
                    "value": {
                      "error": {
                        "requestId": "01HXYZABCDEFG123456789",
                        "code": "invalid-request",
                        "message": "요청이 올바르지 않습니다.",
                        "data": {
                          "field": "count",
                          "constraint": {
                            "min": 1,
                            "max": 100
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalErrorTradingTrend"
          }
        }
      }
    },
    "/api/v1/stocks/{symbol}/credit-trades": {
      "get": {
        "tags": [
          "Stock Info"
        ],
        "summary": "신용거래 동향 조회",
        "description": "국내(KR) 종목의 신용거래 동향을 일별 시계열로 조회합니다. 신용융자(`marginLoan`)·신용대주(`stockLoan`)\n각각의 신규·상환·잔고 수량과 잔고 비율·공여율을 최신순으로 제공합니다.\n\n- 국내(KR) 종목만 지원합니다. 다른 시장의 종목은 400 `unsupported-market` 으로 응답합니다.\n- 자기신용과 유통금융을 합산한 값이며, 모든 수량은 주식 수(주) 정수입니다.\n- `stockLoan`(신용대주)은 주식을 빌려 매도하는 개인 신용거래입니다. 기관 간 대차거래\n  (`GET /api/v1/stocks/{symbol}/securities-lending`)와는 다른 데이터입니다.\n- 해당 일자에 융자·대주 중 한쪽 데이터만 있으면 없는 쪽 객체는 null 입니다.\n- 다음 페이지는 응답의 `nextUntil` 값을 `until` 파라미터로 전달해 조회합니다.\n\n**데이터 적시성**: 다음 영업일 새벽에 반영됩니다(T+1). 최신 기록은 전 영업일입니다.\n\n**Rate Limits Group**: `STOCK_TRADING_TREND`\n",
        "operationId": "getStockCreditTrades",
        "security": [
          {
            "oauth2ClientCredentials": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/KrSymbol"
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "조회 수 (최대 100)",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "description": "조회 기준일 (inclusive, `YYYY-MM-DD`). 이 날짜까지의 데이터를 최신순으로 `count` 개 반환합니다.\n미지정 시 가장 최신 데이터부터 반환. 다음 페이지 요청 시 이전 응답의 `nextUntil` 값을 그대로 전달합니다.\n",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-07-16"
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/CreditTradesResponse"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "daily": {
                    "summary": "일별 신용거래 (count=2)",
                    "value": {
                      "result": {
                        "nextUntil": "2026-07-14",
                        "records": [
                          {
                            "date": "2026-07-16",
                            "updatedAt": "2026-07-17T02:35:00+09:00",
                            "marginLoan": {
                              "newQuantity": "125300",
                              "returnQuantity": "98200",
                              "balanceQuantity": "2513400",
                              "balanceRate": "0.0042",
                              "tradingRate": "0.09"
                            },
                            "stockLoan": {
                              "newQuantity": "5200",
                              "returnQuantity": "3100",
                              "balanceQuantity": "45200",
                              "balanceRate": "0.0001",
                              "tradingRate": "0.0004"
                            }
                          },
                          {
                            "date": "2026-07-15",
                            "updatedAt": "2026-07-16T02:34:12+09:00",
                            "marginLoan": {
                              "newQuantity": "110200",
                              "returnQuantity": "132400",
                              "balanceQuantity": "2486300",
                              "balanceRate": "0.0042",
                              "tradingRate": "0.085"
                            },
                            "stockLoan": {
                              "newQuantity": "4100",
                              "returnQuantity": "5300",
                              "balanceQuantity": "43100",
                              "balanceRate": "0.0001",
                              "tradingRate": "0.0003"
                            }
                          }
                        ]
                      }
                    }
                  },
                  "noData": {
                    "summary": "조회 범위에 데이터 없음 (records 빈 배열, nextUntil null)",
                    "value": {
                      "result": {
                        "nextUntil": null,
                        "records": []
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unsupportedMarket": {
                    "summary": "국내(KR) 종목이 아님",
                    "value": {
                      "error": {
                        "requestId": "01HXYZABCDEFG123456789",
                        "code": "unsupported-market",
                        "message": "지원하지 않는 시장의 종목입니다.",
                        "data": {
                          "field": "symbol",
                          "allowedConditions": {
                            "marketCountry": [
                              "KR"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "invalidCount": {
                    "summary": "count 가 허용 범위(1~100)를 벗어남",
                    "value": {
                      "error": {
                        "requestId": "01HXYZABCDEFG123456789",
                        "code": "invalid-request",
                        "message": "요청이 올바르지 않습니다.",
                        "data": {
                          "field": "count",
                          "constraint": {
                            "min": 1,
                            "max": 100
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalErrorTradingTrend"
          }
        }
      }
    },
    "/api/v1/stocks/{symbol}/securities-lending": {
      "get": {
        "tags": [
          "Stock Info"
        ],
        "summary": "대차거래 동향 조회",
        "description": "국내(KR) 종목의 대차거래 동향을 일별 시계열로 조회합니다. 대차 체결·상환·잔고 수량과\n잔고 금액을 최신순으로 제공합니다.\n\n- 국내(KR) 종목만 지원합니다. 다른 시장의 종목은 400 `unsupported-market` 으로 응답합니다.\n- 모든 금액은 원화(KRW)이며, 별도의 통화 필드는 제공하지 않습니다.\n- 대차거래는 기관 투자자 간 주식 대여·차입 거래입니다. 주식을 빌려 매도하는 개인 신용거래인\n  신용대주(`GET /api/v1/stocks/{symbol}/credit-trades` 의 `stockLoan`)와는 다른 데이터입니다.\n- 다음 페이지는 응답의 `nextUntil` 값을 `until` 파라미터로 전달해 조회합니다.\n\n**데이터 적시성**: 일별 확정치는 해당 일자 저녁에 반영됩니다.\n\n**Rate Limits Group**: `STOCK_TRADING_TREND`\n",
        "operationId": "getStockSecuritiesLending",
        "security": [
          {
            "oauth2ClientCredentials": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/KrSymbol"
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "조회 수 (최대 100)",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "description": "조회 기준일 (inclusive, `YYYY-MM-DD`). 이 날짜까지의 데이터를 최신순으로 `count` 개 반환합니다.\n미지정 시 가장 최신 데이터부터 반환. 다음 페이지 요청 시 이전 응답의 `nextUntil` 값을 그대로 전달합니다.\n",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-07-16"
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/SecuritiesLendingResponse"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "daily": {
                    "summary": "일별 대차거래 (count=2)",
                    "value": {
                      "result": {
                        "nextUntil": "2026-07-15",
                        "records": [
                          {
                            "date": "2026-07-17",
                            "updatedAt": "2026-07-17T19:03:21+09:00",
                            "executionQuantity": "210500",
                            "repaymentQuantity": "185300",
                            "balanceQuantity": "15234000",
                            "balanceAmount": "1218720000000"
                          },
                          {
                            "date": "2026-07-16",
                            "updatedAt": "2026-07-16T19:02:45+09:00",
                            "executionQuantity": "198200",
                            "repaymentQuantity": "201400",
                            "balanceQuantity": "15208800",
                            "balanceAmount": "1216704000000"
                          }
                        ]
                      }
                    }
                  },
                  "noData": {
                    "summary": "조회 범위에 데이터 없음 (records 빈 배열, nextUntil null)",
                    "value": {
                      "result": {
                        "nextUntil": null,
                        "records": []
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unsupportedMarket": {
                    "summary": "국내(KR) 종목이 아님",
                    "value": {
                      "error": {
                        "requestId": "01HXYZABCDEFG123456789",
                        "code": "unsupported-market",
                        "message": "지원하지 않는 시장의 종목입니다.",
                        "data": {
                          "field": "symbol",
                          "allowedConditions": {
                            "marketCountry": [
                              "KR"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "invalidCount": {
                    "summary": "count 가 허용 범위(1~100)를 벗어남",
                    "value": {
                      "error": {
                        "requestId": "01HXYZABCDEFG123456789",
                        "code": "invalid-request",
                        "message": "요청이 올바르지 않습니다.",
                        "data": {
                          "field": "count",
                          "constraint": {
                            "min": 1,
                            "max": 100
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalErrorTradingTrend"
          }
        }
      }
    },
    "/api/v1/exchange-rate": {
      "get": {
        "tags": [
          "Market Info"
        ],
        "summary": "환율 조회",
        "description": "KRW ↔ USD 환율 정보를 조회합니다.\n\n- **갱신 주기 1분**, 참고용 표시 환율. 실제 주문 시 적용되는 거래 환율과 다를 수 있습니다.\n- `dateTime` 미지정 시 **현재 시점의 유효 환율**이 응답됩니다.\n- 응답의 `validFrom` ~ `validUntil` 은 해당 환율의 **유효 시간 윈도** (보통 1분) 입니다.\n\n**Rate Limits Group**: `MARKET_INFO`\n",
        "operationId": "getExchangeRate",
        "security": [
          {
            "oauth2ClientCredentials": []
          }
        ],
        "parameters": [
          {
            "name": "dateTime",
            "in": "query",
            "required": false,
            "description": "조회할 환율 시각. 특정 시점의 환율을 조회할 수 있습니다.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-03-25T09:30:00+09:00"
          },
          {
            "name": "baseCurrency",
            "in": "query",
            "required": true,
            "description": "기준 통화",
            "schema": {
              "$ref": "#/components/schemas/Currency"
            },
            "example": "USD"
          },
          {
            "name": "quoteCurrency",
            "in": "query",
            "required": true,
            "description": "표시 통화 (quote currency)",
            "schema": {
              "$ref": "#/components/schemas/Currency"
            },
            "example": "KRW"
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/ExchangeRateResponse"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "usdToKrwUp": {
                    "summary": "USD→KRW 환율 (상승)",
                    "value": {
                      "result": {
                        "baseCurrency": "USD",
                        "quoteCurrency": "KRW",
                        "rate": "1380.5",
                        "midRate": "1375",
                        "basisPoint": "40",
                        "rateChangeType": "UP",
                        "validFrom": "2026-03-25T09:30:00+09:00",
                        "validUntil": "2026-03-25T09:31:00+09:00"
                      }
                    }
                  },
                  "usdToKrwDown": {
                    "summary": "USD→KRW 환율 (하락)",
                    "value": {
                      "result": {
                        "baseCurrency": "USD",
                        "quoteCurrency": "KRW",
                        "rate": "1372.3",
                        "midRate": "1375",
                        "basisPoint": "-19.6",
                        "rateChangeType": "DOWN",
                        "validFrom": "2026-03-25T09:30:00+09:00",
                        "validUntil": "2026-03-25T09:31:00+09:00"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unsupportedCurrency": {
                    "summary": "지원하지 않는 통화",
                    "value": {
                      "error": {
                        "requestId": "01HXYZABCDEFG123456789",
                        "code": "invalid-request",
                        "message": "지원하지 않는 통화입니다.",
                        "data": {
                          "field": "baseCurrency",
                          "allowedValues": [
                            "KRW",
                            "USD"
                          ]
                        }
                      }
                    }
                  },
                  "sameCurrency": {
                    "summary": "기준 통화와 상대 통화가 같음",
                    "value": {
                      "error": {
                        "requestId": "01HXYZABCDEFG123456789",
                        "code": "invalid-request",
                        "message": "기준 통화와 상대 통화가 같을 수 없습니다.",
                        "data": {
                          "field": "baseCurrency,quoteCurrency"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "환율 정보 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "exchangeRateNotFound": {
                    "summary": "요청한 시점의 환율 정보 없음",
                    "value": {
                      "error": {
                        "requestId": "01HXYZABCDEFG123456789",
                        "code": "exchange-rate-not-found",
                        "message": "요청한 시점의 환율 정보가 없습니다."
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalErrorMarketInfo"
          }
        }
      }
    },
    "/api/v1/market-calendar/KR": {
      "get": {
        "tags": [
          "Market Info"
        ],
        "summary": "국내 장 운영 정보 조회",
        "description": "국내 시장의 거래 가능 시간을 조회합니다. 통합 모드 (KRX+NXT) 기준이며, 특수장(시간외종가/시간외단일가)은 제외됩니다. 전일/당일/익일 3영업일 정보를 반환합니다. 모든 시간은 KST(+09:00) 기준.\n\n**Rate Limits Group**: `MARKET_INFO`\n",
        "operationId": "getKrMarketCalendar",
        "security": [
          {
            "oauth2ClientCredentials": []
          }
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "조회 기준일 (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-03-25"
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/KrMarketCalendarResponse"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "businessDay": {
                    "summary": "영업일 (KRX+NXT 정상 운영)",
                    "value": {
                      "result": {
                        "today": {
                          "date": "2026-03-25",
                          "integrated": {
                            "preMarket": {
                              "startTime": "2026-03-25T08:00:00+09:00",
                              "singlePriceAuctionStartTime": "2026-03-25T08:50:00+09:00",
                              "endTime": "2026-03-25T09:00:00+09:00"
                            },
                            "regularMarket": {
                              "startTime": "2026-03-25T09:00:00+09:00",
                              "singlePriceAuctionStartTime": "2026-03-25T15:20:00+09:00",
                              "endTime": "2026-03-25T15:30:00+09:00"
                            },
                            "afterMarket": {
                              "startTime": "2026-03-25T15:30:00+09:00",
                              "singlePriceAuctionEndTime": "2026-03-25T15:40:00+09:00",
                              "endTime": "2026-03-25T20:00:00+09:00"
                            }
                          }
                        },
                        "previousBusinessDay": {
                          "date": "2026-03-24",
                          "integrated": {
                            "preMarket": {
                              "startTime": "2026-03-24T08:00:00+09:00",
                              "singlePriceAuctionStartTime": "2026-03-24T08:50:00+09:00",
                              "endTime": "2026-03-24T09:00:00+09:00"
                            },
                            "regularMarket": {
                              "startTime": "2026-03-24T09:00:00+09:00",
                              "singlePriceAuctionStartTime": "2026-03-24T15:20:00+09:00",
                              "endTime": "2026-03-24T15:30:00+09:00"
                            },
                            "afterMarket": {
                              "startTime": "2026-03-24T15:30:00+09:00",
                              "singlePriceAuctionEndTime": "2026-03-24T15:40:00+09:00",
                              "endTime": "2026-03-24T20:00:00+09:00"
                            }
                          }
                        },
                        "nextBusinessDay": {
                          "date": "2026-03-26",
                          "integrated": {
                            "preMarket": {
                              "startTime": "2026-03-26T08:00:00+09:00",
                              "singlePriceAuctionStartTime": "2026-03-26T08:50:00+09:00",
                              "endTime": "2026-03-26T09:00:00+09:00"
                            },
                            "regularMarket": {
                              "startTime": "2026-03-26T09:00:00+09:00",
                              "singlePriceAuctionStartTime": "2026-03-26T15:20:00+09:00",
                              "endTime": "2026-03-26T15:30:00+09:00"
                            },
                            "afterMarket": {
                              "startTime": "2026-03-26T15:30:00+09:00",
                              "singlePriceAuctionEndTime": "2026-03-26T15:40:00+09:00",
                              "endTime": "2026-03-26T20:00:00+09:00"
                            }
                          }
                        }
                      }
                    }
                  },
                  "holidayToday": {
                    "summary": "휴장일 (today 만 휴장, integrated null)",
                    "value": {
                      "result": {
                        "today": {
                          "date": "2026-05-05",
                          "integrated": null
                        },
                        "previousBusinessDay": {
                          "date": "2026-05-04",
                          "integrated": {
                            "preMarket": {
                              "startTime": "2026-05-04T08:00:00+09:00",
                              "singlePriceAuctionStartTime": "2026-05-04T08:50:00+09:00",
                              "endTime": "2026-05-04T09:00:00+09:00"
                            },
                            "regularMarket": {
                              "startTime": "2026-05-04T09:00:00+09:00",
                              "singlePriceAuctionStartTime": "2026-05-04T15:20:00+09:00",
                              "endTime": "2026-05-04T15:30:00+09:00"
                            },
                            "afterMarket": {
                              "startTime": "2026-05-04T15:30:00+09:00",
                              "singlePriceAuctionEndTime": "2026-05-04T15:40:00+09:00",
                              "endTime": "2026-05-04T20:00:00+09:00"
                            }
                          }
                        },
                        "nextBusinessDay": {
                          "date": "2026-05-06",
                          "integrated": {
                            "preMarket": {
                              "startTime": "2026-05-06T08:00:00+09:00",
                              "singlePriceAuctionStartTime": "2026-05-06T08:50:00+09:00",
                              "endTime": "2026-05-06T09:00:00+09:00"
                            },
                            "regularMarket": {
                              "startTime": "2026-05-06T09:00:00+09:00",
                              "singlePriceAuctionStartTime": "2026-05-06T15:20:00+09:00",
                              "endTime": "2026-05-06T15:30:00+09:00"
                            },
                            "afterMarket": {
                              "startTime": "2026-05-06T15:30:00+09:00",
                              "singlePriceAuctionEndTime": "2026-05-06T15:40:00+09:00",
                              "endTime": "2026-05-06T20:00:00+09:00"
                            }
                          }
                        }
                      }
                    }
                  },
                  "nxtPreMarketHoliday": {
                    "summary": "부분 휴장 (NXT 프리마켓만 휴장, 정규장·애프터마켓은 운영)",
                    "value": {
                      "result": {
                        "today": {
                          "date": "2026-03-25",
                          "integrated": {
                            "preMarket": null,
                            "regularMarket": {
                              "startTime": "2026-03-25T09:00:00+09:00",
                              "singlePriceAuctionStartTime": "2026-03-25T15:20:00+09:00",
                              "endTime": "2026-03-25T15:30:00+09:00"
                            },
                            "afterMarket": {
                              "startTime": "2026-03-25T15:30:00+09:00",
                              "singlePriceAuctionEndTime": "2026-03-25T15:40:00+09:00",
                              "endTime": "2026-03-25T20:00:00+09:00"
                            }
                          }
                        },
                        "previousBusinessDay": {
                          "date": "2026-03-24",
                          "integrated": {
                            "preMarket": {
                              "startTime": "2026-03-24T08:00:00+09:00",
                              "singlePriceAuctionStartTime": "2026-03-24T08:50:00+09:00",
                              "endTime": "2026-03-24T09:00:00+09:00"
                            },
                            "regularMarket": {
                              "startTime": "2026-03-24T09:00:00+09:00",
                              "singlePriceAuctionStartTime": "2026-03-24T15:20:00+09:00",
                              "endTime": "2026-03-24T15:30:00+09:00"
                            },
                            "afterMarket": {
                              "startTime": "2026-03-24T15:30:00+09:00",
                              "singlePriceAuctionEndTime": "2026-03-24T15:40:00+09:00",
                              "endTime": "2026-03-24T20:00:00+09:00"
                            }
                          }
                        },
                        "nextBusinessDay": {
                          "date": "2026-03-26",
                          "integrated": {
                            "preMarket": {
                              "startTime": "2026-03-26T08:00:00+09:00",
                              "singlePriceAuctionStartTime": "2026-03-26T08:50:00+09:00",
                              "endTime": "2026-03-26T09:00:00+09:00"
[...]
